body {
  zoom: 0.8;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) and (min-width: 1700px) and (min-height: 1100px) {
  body {
    zoom: 1;
  }
}

div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(254, 254, 254, 0.2);
}

div::-webkit-scrollbar-thumb {
  background: #7aeee5;
  border-radius: 5px;
}